* {
  box-sizing: border-box;
  margin: 0px;
}
.background {
  width: 1024px;
  height: 600px;
  background-image: url("../images/background.png");
  padding: 20px 0px 0px 20px;
}

.outerbox {
  width: 808px;
  height: 544px;
  background-image: url("../images/outer.png");
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 32px 0px 0px 32px;
}

.wrapper__left {
  width: 208px;
  height: 472px;
  display: flex;
  flex-direction: column;
}

.wrapper__left__header {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.today {
  font-size: 9px;
}

.wrapper__left__body {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

.left__body__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left__body__header__grey {
  width: 148px;
  height: 133px;
  background-color: #e9e9e9;
}
.left__body__header__line {
  border-top: 1px dotted black;
  margin: 12px 0px;
}

.left__body__profile {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.body__profile__contents {
  margin-bottom: 2px;
}

.body__profile__contents span {
  margin-left: 5px;
  font-size: 10px;
  font-weight: bold;
  color: grey;
}
.left__body__footer {
  width: 100%;
}

.wrapper__feel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body__footer__title {
  font-size: 11px;
  color: grey;
  margin-bottom: 5px;
}

.body__footer__select select {
  width: 100%;
  border: 1px solid #9c9c9c;
  font-size: 11px;
  color: grey;
  padding: 2px;
}

.wrapper__right {
  width: 524px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5px;
}

.wrapper__right__header {
  width: 510px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 14px;
  align-items: flex-end;
}

.right__header__title,
.right__header__setting {
  color: #55b2e5;
  font-size: 9px;
}

.right__header__title {
  font-size: 16px;
}

.wrapper__right__body {
  width: 510px;
  height: 445px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #ffffff;
}

.wrapper__right__body iframe {
  width: 100%;
  height: 100%;
  border: none;
}
